<div class="footer d-flex justify-content-around align-items-center bg-light">
    <div class="col-6-sm">
      <div class="footer-copyright">
        ©2020. Fanny Castillon. Tous droits réservés.
      </div>
    </div>
    <div class="col-6-sm">
      <div class="footer-links d-flex align-items-center">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>


