  <div class="footer-cards">
    <div class="card-copyright d-flex justify-content-center align-items-center">
      ©2020. Fanny Castillon. Tous droits réservés.
    </div>
    <div class="card-media-links d-flex justify-content-center align-items-center">
      <a href="https://www.instagram.com/fanny_castillon_decoration" target="_blank"><i class="fab fa-instagram "></i></a>
      <a href="#"><i class="fab fa-facebook pl-4"></i></a>
      <a href="#"><i class="fab fa-linkedin pl-4"></i></a>
    </div>
  </div>
<!--

  <div class="cards">
    <div class="card d-flex justify-content-center align-items-center">
      ©2020. Fanny Castillon. Tous droits réservés.
    </div>
    <div class="card d-flex justify-content-center align-items-center">
      <div class="media-links">
        <a href="https://www.instagram.com/Fanny_Deco" target:"_blank"><i class="fab fa-instagram "></i></a>
        <a href="#"><i class="fab fa-facebook pl-4"></i></a>
        <a href="#"><i class="fab fa-linkedin pl-4"></i></a>
      </div>
    </div>
  </div>


 -->
