<!--  -->

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag("Fanny.jpeg", size: "200x200")%>
    </div>
    <div class="col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, ratione! Quos asperiores, numquam dolorum. Libero harum officiis velit alias ut dicta molestias asperiores sapiente, minima expedita quis, exercitationem mollitia quo sed. Sint, harum doloribus, earum porro nihil pariatur veniam eum nobis nemo corporis repudiandae. Harum, eveniet eos quia totam inventore esse minima veniam, fugit earum repellendus consequuntur beatae ullam architecto quis id dolor itaque. Earum ea voluptate a suscipit officiis non reprehenderit excepturi quia labore modi, deserunt aliquam, iusto magnam. Eius quam at sed, soluta, rerum praesentium, dignissimos aspernatur animi necessitatibus neque magni dolores vero. Nihil officiis fugit quod error.</p>
    </div>
  </div>
</div>

