<div class="banner">
  <div class="banner-content">
    <h1>Design d'Intérieur</h1>
    <p>Agencement & Décoration</p>
    <%= cl_image_tag 'banner_image_home_y1eh7j', width: 400, height: 300, crop: :fill %>
  </div>
</div>

