<div class="banner2" w-100 >
  <%= image_tag "greenlamp3.jpg", class: "bannerpicture" %>
</div>


<%= link_to 'Créer une nouvelle réalisation', new_realisation_path %>

<div class="container d-flex justify-content-center">
  <div class="intro text-center mb-5">
    <p>Vous trouverez ci-dessous une sélection de projets <br>
    sur lesquels j'ai eu plaisir de travailler</p>
  </div>



  <div class="cards text-center pb-5">
    <% @realisations.each do |realisation| %>
    <div class="card"><%= realisation.name %></div>
    <% end %>
  </div>
</div>
