<h1>Voici mes réalisations</h1>
<% @realisations.each do |realisation| %>
  <h3><%= realisation.name %></h3>
  <h4><%= realisation.category %></h4>
  <h5><%= realisation.description %></h5>
<% end %>



