.banner {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-image: image_url("banner_image_home.jpg");
  background-size: cover;
  // background-position: center;
}

.banner-content {
  height: 50vh;
  padding-top : 50px;
  // flex: 100%;
}

.banner-content h1 {
    color: $blue_hat;
    font-size: 36px;
    font-weight: 300;
  }

.banner-content p {
    color: $yellow;
    font-size: 36px;
    font-weight: 500;
  }

// #0B6E8E
// #2183A0
// Yankees Blue : #242F40

// DARK IMPERIAL BLUE : #08415C
// Le Yellow : #FFE81E

@media(max-width: 768px) {

  // .banner-content {
  //   padding-top: 30px;
  // }

  .banner-content h1 {
    font-size: 28px;
  }
  .banner-content p {
    font-size: 28px;
  }
}
