.banner {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: image_url("banner_image_home.jpg");
  background-size: cover;
  // background-position: center;
}

.banner_content {
  background:white;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
  h1 {
    color: #08415C;
    font-size: 32px;
    // font-weight: lighter;
  }

  p {
    color: #FFE81E;
    font-size: 32px;
    margin-bottom: 550px;
    // font-weight: lighter;
  }

// #0B6E8E
// #2183A0
// Yankees Blue : #242F40

// DARK IMPERIAL BLUE : #08415C
// Le Yellow : #FFE81E
