.banner {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-image: image_url("banner_image_home.jpg");
  background-size: cover;
  // background-position: center;
}

.banner-content {
  height: 50vh;
  padding-top : 110px;
  // flex: 100%;
}

.banner-content h1 {
    color: $blue_hat;
    font-size: 36px;
    font-weight: 300;
  }

.banner-content p {
    color: $yellow;
    font-size: 36px;
    font-weight: 500;
  }


@media(max-width: 1200px) {
  .banner-content {
    padding-top: 150px;
  }
  .banner-content h1 {
    font-size: 36px;
  }
  .banner-content p {
    font-size: 36px;
  }
}


@media(max-width: 792px) {
  .banner-content {
    padding-top: 60px;
  }
  .banner-content h1 {
    font-size: 24px;
  }
  .banner-content p {
    font-size: 24px;
  }
}
