.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 16px;
  position: fixed-top;
}

.navbar_home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 70px;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 120px;
}


.avatar_banner {
  border-radius: 50%;
  // margin-left : 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: $blue_hat;
  font-family: "Lato";
  font-size: 20px;
  text-decoration: none;
  font-weight: 390;
}

.navbar-light .navbar-nav .show >
.nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $blue_hat;
  font-family: "Lato";
  font-size: 20px;
  text-decoration: none;
  font-weight: 550;
}


// .title {
//   color: $blue_hat;
//   font-family: 'Lato';
//   font-size: 24px;
//   font-weight: 500;
//   font-style: italic;
// }

// .nav_links li a {
//   // transition: all 0.2s ease 0s;
//   font-weight: 390;
// }

// .nav_links li a:hover {
//   font-weight: 600;
// }

